@font-face {
  font-family: poppinsFont;
  src: url(Poppins-Regular.ttf);
}

@font-face {
  font-family: poppinsLightFont;
  src: url(Poppins-Light.ttf);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: poppinsFont !important;
  /* background: "whitesmoke"; */
  /* -webkit-animation: fade-in 3s ease-in-out forwards; */
  /* animation: fade-in 3s ease-in-out forwards; */
}

a {
  color: inherit !important;
  text-decoration: none;
}

*,
:after,
:before {
  box-sizing: border-box;
}

.homeParllax {
  position: fixed !important;
  top: 0px;
  left: 0px;
  -webkit-backface-visibility: hidden !important;
  /* margin-top: -150px; */
}

.mobileVerticalText {
  padding-top: 160px !important;
}

.textDark {
  color: black !important;
}

.scrollToTopBtn {
  cursor: pointer;
  font-size: 25px;
  position: fixed;
  bottom: 10px;
  right: 20px;
  color: #fb7c2c;
  padding: 5px 10px;
  border-radius: 5px;
}

.headerMenu {
  display: flex;
  flex-direction: column !important;
  align-items: center;
}

.homePlayBtn {
  font-size: 80px;
  color: #fb7c2c !important;
  margin-top: 55%;
  position: relative;
  left: 18%;
  z-index: 2;
}

.mobileHomePlayBtn {
  font-size: 50px;
  color: #fb7c2c !important;
  position: relative;
  bottom: 40px;
  display: inline-block;
  z-index: 2;
}

.dflex {
  display: flex !important;
}

.pr20 {
  padding-right: 20px;
}

.p20 {
  padding: 20px;
}

.textRight {
  text-align: right !important;
}

.textLeft {
  text-align: left !important;
}

.row-reverse {
  flex-direction: row-reverse;
}

.left0 {
  left: 0px !important;
}

.left45 {
  left: 45px !important;
}

.ml40 {
  margin-left: 40px;
}

.right270 {
  position: relative !important;
  float: right;
  top: -102px;
}

.clrgainsboro {
  color: gainsboro;
}

.lightFont {
  font-family: poppinsLightFont !important;
}

.squareBox {
  height: 40px;
  width: 60px;
}

.textDark {
  color: black !important;
}

.lastImgText {
  color: #fb7c2c !important;
  font-size: 60px !important;
  font-weight: bold !important;
}

.txtBold {
  font-weight: bold !important;
}

.lastImgTextStyle {
  font-size: calc(1em + 30vmin);
  font-weight: 900;
  color: tomato;
}

.mt-90 {
  margin-top: 90%;
}

.mt-50p {
  margin-top: 180px;
}

.lastImgTextStyle-2 {
  color: white !important;
  text-shadow: -1px 1px 0 #fb7c2c, 1px 1px 0 #fb7c2c, 1px -1px 0 #fb7c2c,
    -1px -1px 0 #fb7c2c;
  position: relative;
  z-index: -1;
  top: -50px;
  color: white !important;
}

.lastSection {
  background: #fb7c2c;
  margin-bottom: -50px;
}

.ourStoryBox {
  height: 500px;
  width: 100%;
  background: #fb7c2c;
  color: white;
  z-index: 10 !important;
}

.enterButton {
  border: 1px solid black;
  padding: 5px;
  border-left: 0;
  border-right: 0;
  font-size: 22px;
  color: gainsboro;
  margin: 0 30px;
  cursor: pointer;
}

.enterButton a {
  color: gainsboro !important;
  text-decoration: none !important;
}

.ourStoryLastSection {
  margin: 0;
  background: #fb7c2c;
  margin-top: -10px;
  padding: 25px;
}

.fontWeightNormal {
  font-weight: normal !important;
}

.emptyBox {
  border: 3px solid #fb7c2c;
  height: 250px;
  width: 250px;
  position: absolute;
  right: 45px;
  z-index: -1;
}

.filledBox {
  border: 3px solid #fb7c2c;
  height: 100px;
  width: 100px;
  position: absolute;
  bottom: 50px;
  background: #fb7c2c;
  z-index: -1;
}

.coursel-indicator {
  background: #ffffff47;
  width: 25px;
  height: 3px;
  margin: 5px;
}

.posRel {
  position: relative !important;
}

.zIndex10 {
  z-index: 10 !important;
}

.themeClr {
  color: #fb7c2c !important;
}

.hover-underline {
  display: inline-block;
  position: relative;
  color: #fb7c2c;
  cursor: pointer;
}

.hover-underline:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fb7c2c;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.navbar-company-text {
  border-top: 3px solid #fb7c2c;
}

strong {
  font-weight: 900;
}

.exp-details-imgs {
  position: relative;
}

.exp-indicator {
  position: relative;
  top: -31px;
  left: -19px;
  font-size: 22px;
}

.lineborderRight {
  border: 0;
  border-right: 1px solid gray;
}

.lineborderLeft {
  border: 0;
  border-left: 1px solid gray;
  margin-left: 5px;
}

.line {
  position: absolute;
  top: 40%;
  right: 5px;
  width: 0;
}

.ourStoryCard-1,
.ourStoryCard-2,
.ourStoryCard-3 {
  position: relative;
}

.ourStoryCard-1 {
  top: -150px;
}

.lastImgContainer {
  position: relative;
}

.topLeft {
  position: absolute;
  top: 8px;
  left: 16px;
}

.textCenter {
  text-align: center !important;
}

.noPadding {
  padding: 0 !important;
}

.mt-50 {
  margin-top: 50px !important;
}

.mt-100 {
  margin-top: 100px !important;
}

.mt-200 {
  margin-top: 200px !important;
}

.ourStoryCard-3 {
  top: -450px;
}

.letterSpacing8 {
  letter-spacing: 8px;
}

.leftTitle {
  line-height: 1.2;
  font-weight: 100;
}

.fs16 {
  font-size: 16px !important;
}

.fs20 {
  font-size: 20px;
}

.fs30 {
  font-size: 30px;
}

.fs40 {
  font-size: 40px;
}

.fs50 {
  font-size: 50px;
}

.fs70 {
  font-size: 70px;
}

.secondPageDetailsTitleContainer {
  margin-top: -40px;
  margin-bottom: -100px;
}

.img-border {
  border: 1px solid white;
  height: 320px;
  margin: 0 35px;
  padding-top: 35%;
}

.canvas-wrapper {
  /* align-items: center; */
  justify-content: center;
  height: 100%;
}

.m0px {
  margin: 0px !important;
}

.canvas {
  position: relative;
  display: block;
  width: 400px;
  height: 412px;
  padding: 20px;
  color: inherit;
  text-decoration: none;
}

.canvas-mobile {
  width: 312px !important;
  margin: 10% !important;
}

.canvas_border {
  position: absolute;
  top: 40px;
  left: -40px;
  height: 100%;
  width: 100%;
  z-index: 0;
}
.canvas_border svg {
  height: 100%;
  width: 100%;
}

.rect-gradient {
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000;
  -webkit-animation: erase-line 1s ease-in-out forwards;
  animation: erase-line 1s ease-in-out forwards;
}

.canvas_img-wrapper {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /* transform: rotate(-5deg) skew(-5deg); */
  background: white;
  border: 1px solid black;
}

.canvas_img {
  transform: scale3d(0.9, 0.9, 0.9);
  /* opacity: 0.3; */
  max-width: 200px;
  max-height: 200px;
}

.canvas_copy {
  position: absolute;
  bottom: 0;
  left: 85%;
  text-transform: uppercase;
  color: #fb7c2c;
  z-index: 100;
}

.mobile-canvas_copy--left {
  bottom: -30% !important;
  left: 45% !important;
}

.text_canvas_copy_title {
  position: relative;
  left: -45% !important;
}

.text_canvas_copy_details {
  position: relative;
  left: -59% !important;
}

.mobile-canvas_copy--right {
  left: -18% !important;
  bottom: -30% !important;
}

.ipad-canvas_copy--right {
  left: 92% !important;
}

.canvas_copy--left {
  left: -25%;
}

.canvas_copy_title {
  font-size: 25px;
  display: block;
  transform: translateX(-50px);
  transition: all 0.75s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s;
  color: black;
}

.canvas_copy_title:nth-child(1) {
  transition-delay: 0.1s;
}
.canvas_copy_title:nth-child(2) {
  transition-delay: 0.2s;
  transform: translateX(-150px);
}

.canvas_copy_title2 {
  font-size: 25px;
  display: block;
  transform: translateX(60px);
  transition: all 0.75s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s;
  color: black;
}

.canvas_copy_title2:nth-child(1) {
  transition-delay: 0.1s;
}
.canvas_copy_title2:nth-child(2) {
  transition-delay: 0.2s;
}

.lastImageSection {
  background: black;
}

.verticalText {
  writing-mode: vertical-rl;
  color: #fb7c2c !important;
  font-size: 40px;
  padding-right: 35px;
  padding-top: 75px;
  z-index: 2;
}

.canvas_copy_subtitle {
  display: block;
  transform: rotate(270deg) translateY(-100%) translateX(calc(-100% - 80px));
  transform-origin: top left;
  position: absolute;
  left: 0;
  top: 8px;
  font-size: 24px;
  /* font-weight: 900; */
  transition: all 0.75s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.35s;
  opacity: 1;
}

.canvas_copy_details {
  display: block;
  transition: all 0.75s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.14s;
  transform: translateX(-20px);
  font-size: 11px;
}

.canvas_copy_details2 {
  display: block;
  transition: all 0.75s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.14s;
  transform: translateX(60px);
  font-size: 11px;
}

.canvas_border,
.canvas_img-wrapper,
.canvas_img {
  transition: all 0.25s ease-in-out 0s;
}

.canvas_border,
.canvas_img-wrapper {
  /* transform: rotate(-5deg) skew(-5deg); */
}

.canvas_copy_title,
.canvas_copy_subtitle,
.canvas_copy_details {
  opacity: 0;
  opacity: 1;
}

.canvas:hover .canvas_copy_title,
.canvas:hover .canvas_copy_subtitle,
.canvas:hover .canvas_copy_details,
.canvas:hover .canvas_img {
  opacity: 1;
}
.canvas:hover .canvas_border,
.canvas:hover .canvas_img-wrapper {
  /* transform: rotate(-6deg) skew(-6deg) scale(0.96); */
  /* border: 2px solid black; */
}
.canvas:hover .canvas_img {
  /* transform: scale3d(1, 1, 1); */
}
.canvas:hover .canvas_copy_title,
.canvas:hover .canvas_copy_details {
  /* transform: translateX(0); */
}
.canvas:hover .canvas_copy_subtitle {
  transform: rotate(270deg) translateY(-100%) translateX(-100%);
}
.canvas:hover .rect-gradient {
  -webkit-animation: draw-line 3s cubic-bezier(0.19, 1, 0.22, 1) forwards;
  animation: draw-line 3s cubic-bezier(0.19, 1, 0.22, 1) forwards;
}

@-webkit-keyframes draw-line {
  from {
    stroke-dashoffset: 2000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes draw-line {
  from {
    stroke-dashoffset: 2000;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes erase-line {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 2000;
  }
}
@keyframes erase-line {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 2000;
  }
}
@-webkit-keyframes fade-in {
  from {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-in {
  from {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}

.ipadCanvasCopyLeft {
  left: 70% !important;
  bottom: -40% !important;
}

.ipadCanvasCopyRight {
  left: -25% !important;
  bottom: -40% !important;
}

.secondPagePlayButton {
  font-size: 40px;
  color: #fb7c2c !important;
  cursor: pointer;
}

.image-container {
  width: 100% !important;

  > div {
    position: unset !important;
  }

  .image {
    object-fit: contain !important;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.modal-body {
  background: black;
  padding: 0 !important;
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.close {
  position: absolute;
  right: 15px;
  top: 0px;
  color: white;
  font-size: 45px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (min-width: 1500px) and (max-width: 1600px) {
  .col-md-3 {
    width: 23% !important;
  }
}
